html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 1.05rem; */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;

    overflow-y: auto;
    overflow-x: hidden;
    background: #1DAEC4FF;
    background: -webkit-linear-gradient(0deg, rgba(29, 174, 196, 1) 0%, rgba(53, 129, 196, 1) 50%, rgba(48, 126, 199, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(29, 174, 196, 1) 0%, rgba(53, 129, 196, 1) 50%, rgba(48, 126, 199, 1) 100%);
    background: linear-gradient(0deg, rgba(29, 174, 196, 1) 0%, rgba(53, 129, 196, 1) 50%, rgba(48, 126, 199, 1) 100%);
}

.order-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px transparent solid;
    /* border: 1px black solid; */
    flex: 1;
    gap: 1.5rem;
}

.order-here > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    width: 75%;
    padding: 1rem;
    background-color: #f4d7aa;
}

.order-here > .qris > img {
    margin-bottom: 1rem;
}

.order-here > div:last-child {
    padding-bottom: 2rem;
}

.order-here > div > span:first-child {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.order-here > span {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-bottom: 1.5rem; */
}

.order-here img {
    width: 20rem;
    height: 20rem;
    border: 1px transparent solid;
    padding: 0rem 4rem;
    aspect-ratio: 1 / 1;
}

.menu {
    border: 1px transparent solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    flex: 1;
    height: 100%;
    padding: 5rem 0rem;
    box-sizing: border-box;
}

.menu > #submit-form {
    border: 1px lightgray solid;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    border-radius: 0.5rem;
    background: #fff5e1;
    box-sizing: border-box;
}

#submit-form > .identitas {
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    padding: 0.5rem;
    border: 1px transparent solid;
}

#submit-form > .identitas > label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#submit-form > .identitas > input {
    padding: 0.25rem;
    font-size: 1rem;
}

#submit-form > .makanan,
#submit-form > .minuman {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    border: 1px transparent solid;
}

#submit-form > .makanan > span,
#submit-form > .minuman > span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#submit-form > .makanan > .pilihan-makanan,
#submit-form > .minuman > .pilihan-minuman {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#submit-form > .makanan > .pilihan-makanan > .jenis,
#submit-form > .minuman > .pilihan-minuman > .jenis {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#submit-form > .makanan > .pilihan-makanan > .jenis > .divider,
#submit-form > .minuman > .pilihan-minuman > .jenis > .divider {
    display: flex;
    gap: 1rem;
}

#submit-form > .makanan > .pilihan-makanan > .jenis > .divider:last-child,
#submit-form > .minuman > .pilihan-minuman > .jenis > .divider:last-child {
    font-weight: bold;
    /* font-family: monospace; */
}

.divider > label {
    cursor: pointer;
    border: 1px transparent solid;
    /* border: 1px black solid; */
    align-self: center;
    padding: 0.25rem 0rem;
}

.divider > input {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    justify-self: center;
    border: 1px black solid;
}


.jumlah {
    margin-top: 0.5rem;
    display: flex;
    border: 1px transparent solid;
}

.jumlah > img {
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    justify-self: center;
    border: 1px transparent solid;
    transform: scaleY(-1);
}

.jumlah > input {
    width: 3rem;
    height: 1.5rem;
    font-size: 1rem;
}

.jumlah > label {
    cursor: pointer;
    border: 1px transparent solid;
    align-self: center;
    padding: 0rem 1rem 0rem 0rem;
    margin-left: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


#submit-form > .total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#submit-form > .total > span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#submit-form > .bukti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

#submit-form > .bukti > label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

#submit {
    cursor: pointer;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #f4d7aa;
    transition: .4s ease;
    border: 2px black solid;
}

#submit:hover {
    background-color: #e08f5d;
    color: white;
}

.bukti > input {
    border: 1px black solid;
    padding: 1rem;
    /* background-color: #fff5e1; */
    cursor: pointer;
}

@media (max-width: 600px) {
    .menu {
        /* background-color: red; */
        padding: 0;
    }

    .menu > #submit-form {
        border-radius: 0;
        width: 100%;
    }

    .order-here > div > span {
        text-align: center;
    }

    .order-here > div > span:first-child {
        font-size: 0.9rem;
    }

    .order-here img {
        min-width: 8rem;
        max-width: 12rem;
        width: 100%;
        height: auto;
        /* width: 10rem; */
        /* height: 10rem; */
    }

    * {
        font-size: 0.9rem;
    }

    .menu > #submit-form > .identitas > label,
    .menu > #submit-form > .makanan > span,
    .menu > #submit-form > .minuman > span,
    .menu > #submit-form > .order-here > span,
    .menu > #submit-form > .total > span,
    .menu > #submit-form > .bukti > span {
        font-size: 1rem;
    }
}

#loading {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

#loading > .spinner {
    position: relative;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading > .spinner::before,
#loading > .spinner::after {
    border: 6.7px solid #474bff;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
}

#loading > .spinner::before {
    width: 33.6px;
    height: 33.6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: spinners 0.75s infinite linear reverse;
}

#loading > .spinner::after {
    animation: spinners 0.5s infinite linear;
    height: 56px;
    width: 56px;
    border-right-color: transparent;
    border-top-color: transparent;
}

@keyframes spinners {
    to {
        transform: rotate(360deg);
    }
}

.warning {
    z-index: 9;
    position: fixed;
    height: 2rem;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning > marquee {
    width: 100vw;
    color: white;
    text-shadow: 1px 1px 2px black;
}